[Desktop Entry]
Version=1.0
Name=Workrave
Type=Application
Comment=Assists in the prevention and recovery of Repetitive Strain Injury (RSI)
Comment[ca]=Ajuda a la prevenció i recuperació del mal de pressió repetitiva (RSI)
Comment[da]=Hjælper med forebyggelse og bedring af RSI syndrom (Repetetive Strain Injury)
Comment[de]=Dieses Programm hilft Ihnen bei der Vorbeugung des RSI-Syndroms (Repetetive Strain Injury) und unterstützt den Genesungsprozess.
Comment[et]=Aitab hoiduda ja taastuda ülekoormusvigastustest (RSI).
Comment[fa]=کمک به پیشگیری و بهبودی آسیب های فیزیکی مکرر
Comment[fi]=Auttaa rasitusvammojen (RSI) ehkäisyssä ja niistä toipumisessa
Comment[fr]=Aide à éviter les Troubles Musculo-Squelettiques (TMS) ou à s'en remettre
Comment[ga]=Cabhraíonn sé le Gortú Athstraidhneála a sheachaint agus biseach a fháil uaidh
Comment[he]=תכנית זו מסייעת במניעה והחלמה מפגיעת מתח חוזרת (Repetitive Strain Injury - RSI).
Comment[hr]=Pomaže u prevenciji i oporavku od Repetitive Strain Injury (RSI)
Comment[hu]=Ez a program segít az ismétlődő mozgásból eredő izomhúzódás (RSI – repetitive strain injury) megelőzésében és az abból való felépülésben
Comment[ko]=반복 긴장성 손상 증후군(RSI)을 방지하고 회복하는 데 도움을 줍니다
Comment[nl]=Dit programma helpt bij het voorkomen en genezen van Repetitive Strain Injury (RSI).
Comment[pl]=Pomaga w zapobieganiu urazom na skutek chronicznego przeciążenia- RSI (Repetitive Strain Injury) oraz wspomaga rekonwalescencję
Comment[ro]=Vă asistă în prevenirea Repetitive Strain Injury (RSI)
Comment[ru]=Эта программа помогает в предупреждении и лечении туннельного синдрома запястья и снятии общего мышечного напряжения.
Comment[sr@latin]=Pomaže u prevenciji i oporavku od Repetitive Strain Injury (RSI)
Comment[sv]=Hjälper till att förebygga och återhämta sig från musarm (RSI).
Comment[uk]=Ця програма допомагає у попередженні та лікуванні тунельного синдрому зап'ястя та знятті загального напруження м'язів.
Comment[zh_CN]=帮助预防重复使力伤害症(Repetitive Strain Injury, RSI)或从中恢复。
Comment[zh_TW]=這個軟體是協助預防與復原重複性壓力傷害 (Repetitive Strain Injury RSI)
Keywords=typing;break;timer;wrists;health;rsi;
Categories=Utility;GTK;Accessibility;
Exec=workrave
Icon=workrave
